[class*='col-md-'] {
    height: 600px;
    min-height: 600px;
    max-height: 600px;
}

.header, .footer {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}
.header{
  margin-top: 3%;
}
body{
  font-size: 36px;
  font-weight: bold;
}
